/* 06-10-2019 */
/* Klyswer Oliva */
/* General styles to HSECTECHNOLOGY website lvl1 */


/* Clases para menú */
.menu_font{
    color: #134263;
    font-weight: 700;
    font-size: 15px;
}
a.menu_font:hover, a.menu_font:focus,
button.menu_font:hover,
button.menu_font:focus {
  color: #0e3049;
  font-size: 16px;
  font-weight: bold;
}

/* ___________________________________Colorear Borde__________________________ */
.border_orange{
  border: rgb(243, 180, 44) 2px solid;
}
/* ___________________________________Colorear Borde__________________________ */


/* Before menu bar */
.sinpadding{
padding: 0 !important;
margin: 0 !important;
}
.navbar .nav .nav-item a i.c-wh{
font-size: 18px;
color: aliceblue;
}
.navbar .nav .nav-item a i.c-bl{
  font-size: 16px;
  color: rgb(16, 40, 61);
}
.nav a.navbar-brand span{
  color: rgb(241, 120, 21);
}

/* ___________Slider_________ */
.imagen {
  /* filter: opacity(.8); */
  /* filter: saturate(180%);*/
  filter: sepia(60%);
}
.carousel-caption{
  width: 100%;
  left: 0 !important;
  right: 0 !important;
  padding-bottom: 5% !important;
}
.carousel-caption h5.news{
  color: #fc8600;
  font-size: 45px;
  font-weight: bold !important;
  background: rgba(0,0,0, 0.5);
  width: 100%;
}
.carousel-caption h5.news::before{
  content: '';
  display: inline-block;
  border-top: solid 20px orangered;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}
.carousel-caption h5.news::after{
  content: '';
  display: inline-block;
  border-bottom: solid 20px orangered;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}
.carousel-caption p.parrafo_slider{
  color: #ffffff;
  position: absolute;
  top: 85%;
  min-height: 65px;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  font-size: 20px;
  /* font-weight: 600; */
  /* transform: translateY(-50px); */
  background: rgba(0,0,0, 0.8);
  /* width: 50%; */
  /* line-height: 50px; */
}

  /* puntos_slider */
.carousel-indicators li.puntos_slider{
  background-color: orangered;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 6px;
  margin-left: 6px;
  transform: translateY(50px);
}



/* slider */
/* Box title */
.box_title::before{
  content: '';
  display: inline-block;
  border-top: solid 2px orangered;
  width: 30%;
  margin-right: 10px;
}
.box_title::after{
  content: '';
  display: inline-block;
  border-bottom: solid 2px orangered;
  width: 30%;
  margin-left: 10px;
}

/* Box title-1 */
.box_title-1::before{
  content: '';
  display: inline-block;
  border-bottom: solid 2px orangered;
  width: 30%;
  margin-right: 10px;
}
.box_title-1::after{
  content: '';
  display: inline-block;
  border-top: solid 2px orangered;
  width: 30%;
  margin-left: 10px;
}

/* dropdown Hover styles */
.dropdown:hover>.dropdown-menu {
  display: block;
 
}
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}


/* Position sticky */
.sticky_top_edit {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 1020;
  background: white;
}

/* ______ALIANZAS ESTRATEGICAS______ */


/* ______GRAFICO CICLE______ */
.btn_circle{
display: flex;
justify-content: center;
align-items: center;
position: absolute;
width: 70px;
height: 70px;
border-radius: 100%;
}
.btn_circle:hover{
cursor: pointer;
width: 80px;
height: 80px;
}
.btn_1{
  top:25%;
  right: 25%;
  background: rgba(255, 140, 0, 0.6);
  color: #ffffff;
  }
  .btn_2{
    top:50%;
    right: 20%;
    background: rgba(0, 128, 0, 0.5);
    color: #ffffff;
    }
    .btn_3{
      top:65%;
      right: 42%;
      color: #ffffff;
      background: rgba(173, 255, 47, 0.6);
      }
      .btn_4{
        top:50%;
        right: 65%;
        color: #ffffff;
        background: rgba(127, 255, 212, 0.5);
        }
        .btn_5{
          top:25%;
          right: 60%;
          background: rgba(0, 119, 255, 0.6);
          color: #ffffff;
          }

.grafica_cicle{
  border: darkorange 2px solid;
  min-height: 400px;
  width: 100%;
}

.grafica_cicle img{
  width: 100%;
}

.info_cicle{
  border: darkorange 2px solid;
  min-height: 400px;
  width: 100%;
}



/* ---------------Media Queries----------------- */
.logo_sel{
  max-width:150px;
}
@media (max-width: 768px) {
  .border_complete{
    width: 100%;
  }
  .logo_sel{
    max-width:250px;
  }
}

/* ----------------Footer------------------ */
.bg_orange{
  background-color: #ff8411;
}

.deep_orange.accent-2 {
  background-color: rgb(241, 120, 21) !important;
}

.font-weight-bold {
  font-weight: 700!important;
  font-size: 16px;
  color: white;
}
.link_foot{
  color: rgb(136, 136, 136);
}
.link_foot:hover{
  color: rgb(241, 120, 21);
}



/* Estilos Quienes somos */
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.color_span{
  color: #134263;
  font-weight: 600;
}


/* .selector_cambia{
 color: #fc8600;
 background: #ff8411;
} */

/* Segmento Noticias */

.bg_opac{
  background: rgba(0, 0, 0, 0.8) !important;
}
.jumbotron h1{
  color: white;
}
.jumbotron p{
  color: white;
  font-size: 16px;
}


/* segmento Servicios */
.bg_ss{
  background: rgb(250, 246, 36);
}
.bg_rc{
  background: rgb(250, 193, 36);
}
.bg_ma{
  background: rgb(250, 163, 36);
}
.bg_cc{
  background: rgb(250, 133, 36);
}
.bg_t{
  background: rgb(250, 103, 36);
}

.text_white{
color: white;
}

.text_servicios{
color: black;
/* font-weight: 500; */
/* font-size: 20px; */
line-height: 2;
}
/* .navbar-expand-md .navbar-nav .dropdown-menu{} */